body,
html {
    margin: 0;
    border: 0;
    font-family: "Roboto", "Times New Roman", "Courier";
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

/* Header Styling */
.header {
    grid-column: 2;
    height: 140px;
    display: grid;
    grid-template-columns: 6fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 0px 40px 0px 40px;
    box-shadow: 0 4px 6px -2px rgb(201, 198, 198);
    z-index: 1;
}

.header .search {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 40px 20fr;
    align-items: center;
}

.header input {
    height: 30px;
    width: 90%;

    font-size: 20px;
    padding-left: 10px;

    border: none;
    background-color: rgb(227, 230, 230);
    border-radius: 20px;
}

.header #search-icon {
    grid-column: 1;
    width: 30px;
    height: 30px;
}

.header #search-bar {
    grid-column: 2;
}

.header #notifications {
    grid-column: 1;
    grid-row: 1;
    width: 30px;
    height: 30px;
    justify-self: end;
    margin-right: 10px;
}

.header .profile-info-small {
    grid-column: 3;
    grid-row: 1;
    display: grid;
    grid-template-columns: 30px 40px 100px;
    align-items: center;
    justify-self: end;
    gap: 14px;
}

.profile-info-small #profile-picture-small {
    margin: 0;
    grid-column: 2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-self: end;
}

.profile-info-small #profile-name-small {
    margin: 0;
    grid-column: 3;
    justify-self: end;
}

.header .profile-info-large {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 60px 3fr 3fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 10px;
}

.profile-info-large #profile-picture-large {
    margin: 0;
    grid-column: 1;
    grid-row: span 2;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.profile-info-large #intro-text {
    margin: 0;
    grid-column: 2;
    grid-row: 1;
}

.profile-info-large #profile-name-large {
    margin: 0;
    grid-column: 2;
    grid-row: 2;
    min-width: 300px;
}

.header .buttons {
    justify-self: end;
    gap: 30px;
    grid-column: 2 / span 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.buttons button {
    width: 90px;
    height: 36px;

    color: white;
    font-weight: 900;
    background-color: rgb(27, 150, 190);

    border: none;
    border-radius: 16px;
}

/* Sidebar Styling */
.sidebar {
    height: 100vh;

    background-color: rgb(27, 150, 190);
    color: white;
    font-size: 20px;
    font-weight: 700;

    grid-column: 1;
    grid-row: 1 / span 2;

    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: repeat(24, 1fr);
    align-items: center;
    column-gap: 14px;
    row-gap: 20px;
}

.sidebar img {
    width: 30px;
    height: 30px;
    padding-left: 20px;
}

.sidebar li {
    list-style-type: none;
}

.sidebar #dashboard-image {
    width: 40px;
    height: 40px;

    grid-column: 1;
    grid-row: 1;
}
.sidebar #dashboard {
    grid-column: 2;
    grid-row: 1;
}

.sidebar #home-icon {
    grid-column: 1;
    grid-row: 3;
}

.sidebar #home {
    grid-column: 2;
    grid-row: 3;
}

.sidebar #profile-icon {
    grid-column: 1;
    grid-row: 4;
}

.sidebar #profile {
    grid-column: 2;
    grid-row: 4;
}

.sidebar #messages-icon {
    grid-column: 1;
    grid-row: 5;
}

.sidebar #messages {
    grid-column: 2;
    grid-row: 5;
}

.sidebar #history-icon {
    grid-column: 1;
    grid-row: 6;
}

.sidebar #history {
    grid-column: 2;
    grid-row: 6;
}

.sidebar #tasks-icon {
    grid-column: 1;
    grid-row: 7;
}

.sidebar #tasks {
    grid-column: 2;
    grid-row: 7;
}

.sidebar #communities-icon {
    grid-column: 1;
    grid-row: 8;
}

.sidebar #communities {
    grid-column: 2;
    grid-row: 8;
}

.sidebar #settings-icon {
    grid-column: 1;
    grid-row: 10;
}

.sidebar #settings {
    grid-column: 2;
    grid-row: 10;
}

.sidebar #support-icon {
    grid-column: 1;
    grid-row: 11;
}

.sidebar #support {
    grid-column: 2;
    grid-row: 11;
}

.sidebar #privacy-icon {
    grid-column: 1;
    grid-row: 12;
}

.sidebar #privacy {
    grid-column: 2;
    grid-row: 12;
}

/* Main-content Styling */
.main-content {
    background-color: rgb(227, 230, 230);
    padding: 20px;
    height: calc(100vh - 180px);
    grid-column: 2;
    display: grid;
    grid-template-columns: minmax(340px, 40%) minmax(340px, 40%) 2fr;
    grid-template-rows:  4% repeat(3, max(170px, 25%));
    gap: 20px;
}

.main-content h3 {
    margin: 0;
}

.main-content #your-projects {
    grid-column: 1;
    grid-row: 1;
}

.main-content .announcements-container {
    grid-column: 3;
    grid-row: 1;
    width: 300px;
}

.main-content .announcements-container #announcements {
    margin-bottom: 22px;
}

.main-content .announcements-content {
    border: 2px solid yellow;
    font-size: 14px;
    height: 280px;
}

.main-content .trending-container {
    grid-column: 3;
    grid-row: 4;
    width: 300px;
    margin-top: -60px;
}

.main-content .trending-container #trending {
    margin-bottom: 22px;
}

.main-content .trending-container p {
    margin: 0;
}

.main-content .trending-content {
    border: 2px solid yellow;
    height: 184px;
}

.main-content .trending-content div {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.trending-user-icon {
    grid-column: 1;
    grid-row: span 2;
}

.trending-user-name {
    grid-column: 2;
    grid-row: 1;
}

.trending-user-bio {
    grid-column: 2;
    grid-row: 2;
}

.main-content .card {
    padding: 20px;
    height: 130px;
    border: 2px solid black;
    min-width: 300px;
}

.main-content #project-1 {
    grid-column: 1;
    grid-row: 2;
}

.main-content #project-2 {
    grid-column: 2;
    grid-row: 2;
}

.main-content #project-3 {
    grid-column: 1;
    grid-row: 3;
}

.main-content #project-4 {
    grid-column: 2;
    grid-row: 3;
}

.main-content #project-5 {
    grid-column: 1;
    grid-row: 4;
}

.main-content #project-6 {
    grid-column: 2;
    grid-row: 4;
}